<header class="main-header">
  <div class="container">
    <a href="/" class="logo">
      <img
        src="/assets/img/logo/logo-igreja.png"
        alt="Logo da Paróquia Nossa Senhora de Nazaré"
      />
    </a>

    <nav class="main-nav">
      <ul>
        <li><a href="/paroquia.html">Paróquia</a></li>
        <li><a href="/pages/pastorais.html">Pastorais</a></li>
        <li><a href="/horarios.html">Horários</a></li>

        <li class="dropdown">
          <a href="/pages/eventos.html" class="drop-btn"
            >Eventos <i class="fa-solid fa-caret-down"></i
          ></a>
          <div class="dropdown-content">
            <a href="/pages/eventos.html?category=missa">Missas</a>
            <a href="/pages/eventos.html?category=noticia">Notícias</a>
          </div>
        </li>
        <li><a href="/contato.html">Contato</a></li>
      </ul>
    </nav>

    <div class="header-right">
      <div class="social-media">
        <a href="#" aria-label="Link para o Facebook"
          ><i class="fab fa-facebook-f"></i
        ></a>
        <a href="#" aria-label="Link para o WhatsApp"
          ><i class="fab fa-whatsapp"></i
        ></a>
        <a href="#" aria-label="Link para o Instagram"
          ><i class="fab fa-instagram"></i
        ></a>
        <a href="#" aria-label="Link para o Youtube"
          ><i class="fab fa-youtube"></i
        ></a>
      </div>
    </div>
  </div>
</header>
